<html ng-app="App">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="controllers.js"></script>
</head>
<body>
  <div ng-controller='HelloController'>
    <input ng-model='greeting.text'></br>
    <span ng-bind="greeting.text"></span>, World
  </div>

  <div ng-controller='CartController'>
	<ul>
		<li ng-repeat="item in items">
			<span>{{item.title}}</span>
			<input ng-model='item.quantity'>
			<span>{{item.price | currency}}</span>
			<span>{{item.price * item.quantity | currency}}</span>
			<button ng-click="remove($index)">Remove</button>
		</li>
	</ul>
  </div>

  <div>
    Click here: <input type="checkbox" ng-model="checked"><br/>
    <span ng-show="checked">Show</span>
    <span ng-hide="checked">Hide</span>
  </div>

  <div angular></div>
  <div class="angular"></div>
  <angular></angular></br>
  <!-- directive: angular -->

</body>
</body>
</html>
